body{

    height: 100%;
    width: 100%;
    background-color: #3E8ED0 !important;
    
}
.navbar{

    background-color: #3E8ED0 !important;
    color: white !important;

}

.nav-link{

    font-family: 'Roboto', sans-serif !important;
    font-size: 150%;
    color: #EFE9F4 !important;

}

.nav-brand{

    font-family: 'Roboto', sans-serif !important;
    font-size: 150%;
    color: #EFE9F4 !important;

}

.navbar-light{

    color: #EFE9F4 !important;

}

.jumbotron{

    background-color: #3E8ED0 !important;

}

#jumboText{

    color: #EFE9F4;
    font-family: 'Josefin Slab', serif;
    
    padding-top: 1vh;
    padding-left: 2vw;
}

.info{
    position: relative;
    float: right;
    clear: left;
    clear: right;

}

.container{

    background-color: #3E8ED0 !important;

}

#jumboTitle{

    font-family: 'Roboto', sans-serif;
    color: #EFE9F4;

}